<div class="root">
  <div class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name">kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">Board Name</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns">
        @for (column of board.columns; track $index) {
        <div class="board-column" cdkDropList #todoList="cdkDropList" [cdkDropListData]="column.tasks"
          [cdkDropListConnectedTo]="dropLists" (cdkDropListDropped)="drop($event)">
          <div class="column-title">
            {{column.name}}
          </div>
          @for (item of column.tasks; track item) {
          <div class="task" cdkDrag>{{item}}</div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>